/* Path: src/components/Button/Button.module.css */

.btnContainer {
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

    border-top: solid 0.33px var(--separator);
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--bg-tab-bar);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.btnContainer .btn {
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 12px;
    background-color: var(--primary);


    color: var(--white);
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.43px;
    text-align: center;
}