/* Path: src/pages/Store/Store.module.css */
.store {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.store .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    padding-top: 24px;
    padding-bottom: 16px;
}

.header .giftIconAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.giftIconAndTitle h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.header p {
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: var(--label-secondary);
}

.store .storeContainer {
    width: 100%;

    padding: 16px;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    gap: 12px;
}