/* Path: src/pages/RecentActions/RecentActions.module.css */

.recentActions {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.recentActions .header {
    width: 100%;
    height: 114px;
    padding-top: 24px;
    padding-bottom: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.header h1 {
    width: 100%;
    text-align: center;

    font-size: 24px;
    font-weight: 600;
    line-height: 32px;

    color: var(--color);
}

.header p {
    width: 100%;
    text-align: center;

    font-size: 17px;
    line-height: 22px;

    color: var(--label-secondary);
}

.recentActions .theseActionsGroups {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.theseActionsGroups .transactionDate {
    width: 100%;
    height: 54px;
    padding: 24px 16px 12px 16px;
    gap: 8px;

    font-size: 13px;
    line-height: 18px;
    text-align: left;
    color: var(--label-date);
}

.theseActionsGroups .transactionItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.emptyCase {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.emptyCase h1 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    font-weight: 600;
    color: var(--color);
}

.emptyCase p {
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.43px;

    color: var(--color);
}



































.emptyCase  {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.emptyCase h1 {
   font-size: 24px;
   line-height: 32px;
   text-align: center;

   color: var(--color);
}

.emptyCase p {
    font-size: 17px;
    line-height: 22px;
    text-align: center;

    color: var(--color);
}