/* Path: src/pages/GiftDetails/GiftDetails.module.css */

.giftDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 92px;
}

.giftDetails .giftCard {
    padding: 16px 16px 0 16px;
}

.giftDetails .giftViewer {
    width: 100%;
    height: 361px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 16px;
    background-image:
    linear-gradient(180deg, hsla(30, 99%, 63%, 0.2), hsla(30, 99%, 63%, 0.1)),
    url('../../assets/images/giftpatternlight.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.giftDetails .giftDescription {
    width: 100%;
    height: 146px;
    padding: 12px 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;

}

.giftDescription .giftNameAndRemainingQuantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

}

.giftNameAndRemainingQuantity h1 {
    font-size: 24px;
    font-weight: 590;
    line-height: 32px;

    color: var(--color);
}

.giftNameAndRemainingQuantity p {
    width: 83px;
    height: 22px;
    border-radius: 100px;
    padding: 0 8px;

    background-color: var(--remaining);
    color: var(--primary);
}

.giftDescription .descriptionText {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;

    color: var(--label-secondary);
    text-align: left;
}

.giftDescription .giftPrice {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    font-size: 17px;
    font-weight: 510;
    line-height: 22px;
    letter-spacing: -0.44px;
}

.giftDetails hr {
    width: 100%;
    height: 12px;
    border: none;
    background-color: var(--bg-secondary);
}

.giftDetails .recentlyActions {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.recentlyActions h2 {
    width: 100%;
    padding: 24px 16px 12px 16px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;

    color: var(--label-date);
}

.recentlyActions .emptyCase {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.emptyCase h2 {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;

    color: var(--color);
}

.emptyCase p {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;

    color: var(--color);
}

