/* Path: src/components/GiftStoreItem/GiftStoreItem.module.css */

.giftStoreItem {
    max-width: 174.5px;
    height: 246px;
    border-radius: 12px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.deliciouscakeGradient {
    background-image:
        linear-gradient(180deg, hsla(30, 99%, 63%, 0.2), hsla(30, 99%, 63%, 0.1)),
        url('../../assets/images/giftpatternlight.svg');
}

.greenstarGradient {
    background-image:
        linear-gradient(180deg, rgba(70, 209, 0, 0.2), rgba(70, 209, 0, 0.06)),
        url('../../assets/images/giftpatternlight.svg');
}

.bluestarGradient {
    background-image:
        linear-gradient(180deg, rgba(0, 122, 255, 0.2), rgba(0, 122, 255, 0.05)),
        url('../../assets/images/giftpatternlight.svg');
}

.redstarGradient {
    background-image:
        linear-gradient(180deg, rgba(255, 71, 71, 0.2), rgba(255, 71, 71, 0.05)),
        url('../../assets/images/giftpatternlight.svg');
}


.giftStoreItem .remainingQuantity {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;

    color: var(--color);
    opacity: 0.5;

}

.giftStoreItem .giftName {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;

    color: var(--color);
}

.giftStoreItem .priceBtnToOpenGift {
    width: 120px;
    height: 30px;
    border-radius: 100px;
    padding: 6px 16px 6px 12px;

    color: var(--white);
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}