/* Path: src/components/Jump/Jump.module.css */

.Jump {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--bg-tab-bar);
    border-top: .33px solid var(--separator);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.Jump .jumpItemWrapper {
    width: 100%;
    height: 92px;

    padding-top: 8px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.jumpItemWrapper .jumpItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 8px;
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.jumpItem .label {
    font-size: 10px;
    font-weight: 500;
    line-height: 11.93px;
    letter-spacing: .1px;
}