/* Path: src/components/HistoryItem/HistoryItem.module.css */
.historyItem {
    width: 100%;
    height: 56px;

    padding: 8px 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.historyItem .left {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background-color: var(--bg-secondary);
    border-radius: 10px;

    position: relative;
} 

.left img {
    width: 24px;
    height: 24px;
}

.left .statusType {
    position: absolute;
    top: 23px;
    left: 26px;
}

.historyItem .right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-grow: 1;
    padding-bottom: 8px;
    border-bottom: .33px solid var(--separator);
}

.historyItem:last-child .right {
    border-bottom: none;
}

.leftTypeAndName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leftTypeAndName > p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.1px;

    color: var(--label-secondary);
}

.leftTypeAndName > h3 {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.44px;

    color: var(--color);
}

.right p.description {
    font-size: 15px;
    line-height: 22px;
    font-weight: 510;

    color: var(--color);
}

.right p.description .viewIt {
    color: var(--primary);
}