/* src/components/GiftInfoCard/GiftInfoCard.module.css */

.giftInfoCard {
    width: 100%;
    background-color: var(--bg-card);
    border-radius: 12px;

}

.giftInfoRow {
    width: 100%;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .33px solid var(--separator);
}

.giftInfoRow:last-child {
    border-bottom: none;
}

.infoLabel {
    width: 113px;

    font-size: 17px;
    line-height: 22px;
    color: var(--label-secondary);
    border-right: .33px solid var(--separator);
    padding: 8px 16px;

    display: flex;
    justify-content: flex-start;
    gap: 8px;
    flex-shrink: 0;
}

.infoValue {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;

    padding: 8px 16px;
}

.avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.username {
    color: var(--primary);
}
