/* Path: src/pages/Leaderboard/Leaderboard.module.css */

.leaderboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.leaderboard .leaderboardSearchContainer {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px 8px 16px;
    gap: 8px;
    border-bottom: 0.33px solid var(--separator);
}

.leaderboardSearchContainer .searchLabel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.searchLabel .searchInput {
    width: 100%;
    height: 36px;
    background-color: var(--search-bar);
    color: var(--color);
    padding: 7px 36px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 17px;
}

.searchLabel .searchIcon {
    position: absolute;
    left: 44%;
    transform: translateX(-50%);
    font-size: 18px;
    color: var(--label-secondary);
    transition: left 0.5s ease, transform 0.3s ease;
}

.searchLabel .placeholder {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    color: var(--label-secondary);
    font-size: 17px;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.searchLabel.focused .searchIcon {
    left: 8px;
    transform: translateX(0);
}
  
.searchLabel.focused .placeholder {
    transform: translateX(-150%);
    opacity: 0;
}

.searchLabel.focused .searchInput {
    text-align: left;
}

.leaderboard .leaderboardList {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 148px;

}
